.about-bg-clr {
  background: linear-gradient(to right, #e0e5ec, #a1c4fd, #cfd9df);
  color: #1c1c1c;
  margin: 15px;
  border-radius: 50px;
}
.mission-des-clr {
  color: #333333;
}
.mission-heading-clr {
  color: #1c1c1c;
}
.mission-icon-clr {
  color: #3e8ed0;
}
.mission-bg-clr-first {
  margin: 15px;
  border-radius: 50px;
}
