.faq-bg-clr {
  margin: 15px;
  border-radius: 20px;
  padding: 30px 15px;
  background: linear-gradient(to right, #d6d85d, #ecedb0, #ead8a4, #f68537);
  color: #2a2a2a; /* Dark gray for readable text */
}
